:root {
  /* Light Mode Variables */
  --card-border: #000000;
  --card-bg: rgba(173, 173, 173, 0.71); 
  --card-bg-yellow: rgba(246, 239, 46, 0.662);
  --card-bg-red: rgba(246, 99, 46, 0.662);
  --card-bg-blue: rgba(46, 103, 246, 0.662);
  --card-bg-green: rgba(133, 246, 46, 0.662);
  --card-text: #000000;
  --card-radius: 10px;
  --card-padding: 15px;
  
  --social-gap: 100px;
  --social-btn-bg-linkedin: rgba(0, 65, 130, 255);
  --social-btn-bg-github: rgba(23, 21, 21, 255);
  
  --social-btn-size: 80px 60px;
  --social-icon-size: 45px;
}

[data-theme='dark'] {
  /* Dark Mode Variables */
  --card-border: #9e9e9e;
  --card-bg: rgba(98, 98, 98, 0.9);
  --card-bg-yellow: rgba(128, 125, 33, 0.796);
  --card-bg-red: rgba(136, 59, 31, 0.762);
  --card-bg-blue: rgba(19, 45, 109, 0.795);
  --card-bg-green: rgba(31, 57, 10, 0.771);
  --card-text: #e0e0e0;
  
  
  --social-btn-bg-linkedin: rgba(10, 102, 194, 255);
  --social-btn-bg-github: rgba(53, 51, 51, 255);
}

.about-card {
  flex: 1;
  border: 1px solid var(--card-border);
  border-radius: var(--card-radius);
  padding: var(--card-padding);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--card-bg-green);
  color: var(--card-text);
}

.card-image {
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 10px;
}

.card-name {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.card-qualifications {
  color: var(--card-text);
  margin-bottom: 5px;
}

.card-details {
  color: var(--card-text);
}

.social-links {
  display: flex;
  justify-content: center;
  gap: var(--social-gap);
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 60px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.social-icon {
  width: var(--social-icon-size);
  height: var(--social-icon-size);
  object-fit: contain;
}

#linkedin-btn {
  background-color: var(--social-btn-bg-linkedin);
}

#github-btn {
  background-color: var(--social-btn-bg-github);
}