:root {
  /* Light Mode Variables */
  --pattern-background-color: white;
  --pattern-opacity: 0.3;
  --pattern-size: 100px;
  --animation-duration: 10s;
}

[data-theme='dark'] {
  /* Dark Mode Variables */
  --pattern-background-color: #121212;
  --pattern-opacity: 0.2;
  --pattern-size: 100px;
  --animation-duration: 10s;
}

.pattern-background-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--pattern-background-color);
  }
  
  .pattern-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
  }
  
  .pattern-background-wrapper::before {
    content: '';
    position: fixed;
    top: -100%; /* Prevent undercoverage */
    left: -100%; /* Adjust for edge cases */
    width: 300vw;
    height: 300vh; /* Prevent gaps in the pattern */
    background-image: var(--background-url);
    background-repeat: repeat;
    background-size: var(--pattern-size) var(--pattern-size);
    transform: translate(0, 0); /* Initial position */
    z-index: 0;
    animation: slidePattern var(--animation-duration) linear infinite;
    opacity: var(--opacity);
    will-change: transform; /* Optimize animation performance */
  }
  
  @keyframes slidePattern {
    0% {
      transform: translate(0, 0); /* Start at the origin */
    }
    100% {
      transform: translate(33.33%, -25.43%); /* Move diagonally*/
    }
  }
  
  .container {
    margin: 0 auto;
  }
  